{%extends 'base/base.html'%}
{% block cssModule %}
<link href="{{url_for('static',filename='css/botConfig/botConfig.css')}}" rel="stylesheet">
 {% endblock %}
{% block content%}
	<div  class="right_col" role="main" data-ng-view>
         
    </div>
{% endblock %}
{% block jsModule%}
<script type="text/javascript" src="{{url_for('static',filename='js/botConfig/botConfig.js')}}" ></script>

<script type="text/javascript" src="{{url_for('static',filename='js/botConfig/loading.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static',filename='js/botConfig/paginator.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static',filename='js/botConfig/timer.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static',filename='js/botConfig/moment-precise-range.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static',filename='js/botConfig/crosbario.js')}}" ></script>

{% endblock %}