<!DOCTYPE html>
<html>
<head>
  <title>Admin Bots</title>
  

  <link href="{{url_for('static',filename='vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
   <link href="{{url_for('static',filename='vendors/pnotify/dist/pnotify.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendors/pnotify/dist/pnotify.buttons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendors/pnotify/dist/pnotify.nonblock.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/login/login.css')}}" rel="stylesheet">
</head>
<body  >
  <div id='body' data-ng-view>
  </div>  
</body>
  <script src=" {{url_for('static',filename='vendors/jquery/dist/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='vendors/jquery/jquery-ui.min.js')}}" ></script>
  <script type="text/javascript" src="{{url_for('static',filename='vendors/angular/angular.min.js')}}" ></script>
  <script type="text/javascript" src="{{url_for('static',filename='vendors/angular/angular-route.min.js')}}" ></script>
<script src="{{url_for('static',filename='vendors/ui-bootstrap/ui-bootstrap-2.5.0.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/app.js')}}" ></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/login/login.js')}}" ></script>
  <script type="text/javascript" src="{{url_for('static',filename='vendors/pnotify/dist/pnotify.js')}}" ></script>
  <script type="text/javascript" src="{{url_for('static',filename='vendors/pnotify/dist/pnotify.buttons.js')}}" ></script>
  <script type="text/javascript" src="{{url_for('static',filename='vendors/pnotify/dist/pnotify.nonblock.js')}}" ></script>
  <script type="text/javascript" src="{{url_for('static',filename='vendors/angular/angular-websocket.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='vendors/angular/angular-websocket.min.js')}}"></script>
</html>



